
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.containerPrincipal {
    margin: 8% auto;
    padding: 0 1rem;
    padding-right: 3%;
    max-height:fit-content ;
    max-width: 750px;
    min-width: 320px;
    border: 2px solid black;
    background-color: #ECECEC;
}

.title {
    display: block;
    margin: 0;
    margin-top: 1rem;
}

input {
    margin: 0 5px 4px 0;
    width: 88%;
    min-height: 2em;
    border: 1px solid gray;
    border-radius: 5%;
}

.btn-1 {
    padding: 0.4rem;
    min-width: 60px;
    width: 8%;
    background-color: green;
    color: white;
    border-radius: 10%;
}

.list-container {
    display: flex;
    justify-content: space-between;
}

input:focus {
    outline: 2px solid green;
}

ul {
    list-style: none;
    padding-left: 0;
    font-size: 0.8em;
}

table {
    width: 100%;
    font-size: 0.8em;
    text-align: left;
}

.trash {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 10px;
}

label [type="checkbox"] {
    width: unset;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
}

.container-taskList {
    max-width: 70%;
}

.btn-2 {
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
}
.taskColor {
    color: green;
    text-decoration: line-through;
}